<a href="https://colab.research.google.com/github/manueljgalvan/Home_Sales/blob/main/Home_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [3]:
# Import findspark and initialize.
import findspark
findspark.init()

In [4]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [6]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

# Show the DataFrame
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [7]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [8]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("""SELECT YEAR(DATE) as Year_Sold_4B, ROUND(AVG(price),2) AS Avg_Price FROM home_sales WHERE BEDROOMS = 4 GROUP BY 1 ORDER BY 1 ASC""").show()

+------------+---------+
|Year_Sold_4B|Avg_Price|
+------------+---------+
|        2019| 300263.7|
|        2020|298353.78|
|        2021|301819.44|
|        2022|296363.88|
+------------+---------+

In [9]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("""SELECT date_built AS Home_Built_Year, ROUND(AVG(price),2) AS Avg_Price FROM home_sales WHERE bedrooms = 3 AND bathrooms = 3 GROUP BY 1 ORDER BY 1 ASC""").show()

+---------------+---------+
|Home_Built_Year|Avg_Price|
+---------------+---------+
|           2010|292859.62|
|           2011|291117.47|
|           2012|293683.19|
|           2013|295962.27|
|           2014|290852.27|
|           2015| 288770.3|
|           2016|290555.07|
|           2017|292676.79|
+---------------+---------+

In [12]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("""SELECT date_built AS Home_Built_Year, ROUND(AVG(price),2)AS Avg_Price FROM home_sales WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_lot >= 2000 GROUP BY 1 ORDER BY 1 ASC""").show()

+---------------+---------+
|Home_Built_Year|Avg_Price|
+---------------+---------+
|           2010|280447.23|
|           2011|281413.45|
|           2012|295858.68|
|           2013|295142.13|
|           2014|294195.13|
|           2015|291788.36|
|           2016| 287812.6|
|           2017|282026.59|
+---------------+---------+

In [13]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

# Get the current time
start_time = time.time()

# The code below displays the single digit 9 as part of the list
# spark.sql("SELECT view AS Home_View_Rating, ROUND(AVG(price),2) AS Avg_Price FROM home_sales WHERE price>=350000 GROUP BY 1 ORDER BY 1 DESC").show()

# This line of code runs the query and sorts correctly by left-padding the values with '0' so that number 9 is considered 09, and be sorted correctly.
spark.sql("""SELECT LPAD(view, 2, '0') AS Home_View_Rating, ROUND(AVG(price), 2) AS Avg_Price FROM home_sales WHERE price >= 350000 GROUP BY 1 ORDER BY Home_View_Rating DESC""").show()

# Print out the runtime
print("--- %s seconds ---" % (time.time() - start_time))

+----------------+----------+
|Home_View_Rating| Avg_Price|
+----------------+----------+
|              99|1061201.42|
|              98|1053739.33|
|              97|1129040.15|
|              96|1017815.92|
|              95| 1054325.6|
|              94| 1033536.2|
|              93|1026006.06|
|              92| 970402.55|
|              91|1137372.73|
|              90|1062654.16|
|              89|1107839.15|
|              88|1031719.35|
|              87| 1072285.2|
|              86|1070444.25|
|              85|1056336.74|
|              84|1117233.13|
|              83|1033965.93|
|              82| 1063498.0|
|              81|1053472.79|
|              80| 991767.38|
+----------------+----------+
only showing top 20 rows

--- 1.1204559803009033 seconds ---

In [14]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [15]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [16]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

# Get the current time
start_time = time.time()

# Repeating the same query as for the previous table
spark.sql("""SELECT LPAD(view, 2, '0') AS Home_View_Rating, ROUND(AVG(price), 2) AS Avg_Price FROM home_sales WHERE price >= 350000 GROUP BY 1 ORDER BY Home_View_Rating DESC""").show()

# Print out the runtime
print("--- %s seconds ---" % (time.time() - start_time))

+----------------+----------+
|Home_View_Rating| Avg_Price|
+----------------+----------+
|              99|1061201.42|
|              98|1053739.33|
|              97|1129040.15|
|              96|1017815.92|
|              95| 1054325.6|
|              94| 1033536.2|
|              93|1026006.06|
|              92| 970402.55|
|              91|1137372.73|
|              90|1062654.16|
|              89|1107839.15|
|              88|1031719.35|
|              87| 1072285.2|
|              86|1070444.25|
|              85|1056336.74|
|              84|1117233.13|
|              83|1033965.93|
|              82| 1063498.0|
|              81|1053472.79|
|              80| 991767.38|
+----------------+----------+
only showing top 20 rows

--- 0.8696002960205078 seconds ---

In [17]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("parket_delayed_partitioned")

In [18]:
# 11. Read the formatted parquet data.
p_df=spark.read.parquet('parket_delayed_partitioned')

In [19]:
# 12. Create a temporary table for the parquet data.
p_df.createOrReplaceTempView('p_delays_p')

In [20]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

# Get the current time
start_time = time.time()

# Query that calculates the avg price of a home per view rating using the parquet DataFrame
spark.sql("""SELECT LPAD(view, 2, '0') AS Home_View_Rating, ROUND(AVG(price), 2) AS Avg_Price FROM p_delays_p WHERE price >= 350000 GROUP BY 1 ORDER BY Home_View_Rating DESC""").show()

# Print out the runtime
print("--- %s seconds ---" % (time.time() - start_time))

+----------------+----------+
|Home_View_Rating| Avg_Price|
+----------------+----------+
|              99|1061201.42|
|              98|1053739.33|
|              97|1129040.15|
|              96|1017815.92|
|              95| 1054325.6|
|              94| 1033536.2|
|              93|1026006.06|
|              92| 970402.55|
|              91|1137372.73|
|              90|1062654.16|
|              89|1107839.15|
|              88|1031719.35|
|              87| 1072285.2|
|              86|1070444.25|
|              85|1056336.74|
|              84|1117233.13|
|              83|1033965.93|
|              82| 1063498.0|
|              81|1053472.79|
|              80| 991767.38|
+----------------+----------+
only showing top 20 rows

--- 1.0385441780090332 seconds ---

In [21]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [22]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")

False

In [23]:
# Write out a csv file from Spark
df.write.csv('out_home_sales_revised.csv', mode='overwrite')